<h1>{{ question.question_text }}</h1>


<!--action, method, enctype-->
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %} <!--form 태그 하위 //장고에서 이거 무조건 써야하는 코드 , 아무나 액션에서 하는 주소로 데이터를 막 보내는걸 방지한다. 
    ID/ password를 보내는 개인정보 이런거 할때 막 보내면 해킹 가능 / 막 호출 차단/ 호출 전에 토큰이라는걸 발행해준다. -->
    <!--get, post-->
    <!--input, select, textarea-->
    <ul>
        {% for choice in question.choice_set.all %}
        <li>
            <input 
                type="radio"
                name="choice"
                value = "{{choice.id}}" 
                id="{{choice.id}}"
            />

            <label for="{{choice.id}}">
                {{ choice.choice_text }}
            </label>
            </li>
        {% endfor %}
    </ul>
    <input type="submit" value="Submit" id="send">
    <input type="button" value="Reset"> <!--js버젼 reset-->
</form>

<!--js버젼 reset-->


<script src="http://code.jquery.com/jquery-3.3.1.min.js">
    $('#send').click(() =>{
        $.ajax({
            type:'POST',
            url:'{% url "polls:vote" question.id %}',
            data:$('form:eq(0)').serialize(),
            success: function(res){
                console.log(res);
            }

        })

    })


    $('[type=button').click(() => {
        
    });
</script>


<!--def랑 합쳐서 reset-->
<form id="frm" action="{% url 'polls:reset' question.id %}">
    <input type="submit" value="Reset">
</form>
 
<script>
 document.querySelector('[type=button]')
    .addEventListener('click', function(){
        //1.Get 방식으로 직접 주소 입력
        //location='polls/{{question.id}}/reset/';
        const frm = document.querySelector('#frm')
        frm.submit()
        
 })

</script>